<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>What We Play?</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="\assets\images\valo.jpg"></ion-img>
      <ion-card-title>Valorant</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Reprehenderit, rerum voluptate dolorem, repellendus maiores soluta cupiditate dolores veritatis architecto,
      consectetur saepe maxime est beatae quod. Quibusdam officia itaque ipsam maiores!
    </ion-card-content>

    <ion-button shape="round" fill="clear" routerLink="/whatweplay/achievements" md="ellipsis-vertical">Achievement</ion-button>
    <ion-button shape="round" fill="clear" routerLink="/whatweplay/teams">Teams</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="\assets\images\pubg.jpg"></ion-img>
      <ion-card-title>PUBG</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Reprehenderit, rerum voluptate dolorem, repellendus maiores soluta cupiditate dolores veritatis architecto,
      consectetur saepe maxime est beatae quod. Quibusdam officia itaque ipsam maiores!
    </ion-card-content>

    <ion-button shape="round" fill="clear" routerLink="/whatweplay/achievements" md="ellipsis-vertical">Achievement</ion-button>
    <ion-button shape="round" fill="clear" routerLink="/whatweplay/teams">Teams</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="\assets\images\mobile_legends.jpeg"></ion-img>
      <ion-card-title>Mobile Legends</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Reprehenderit, rerum voluptate dolorem, repellendus maiores soluta cupiditate dolores veritatis architecto,
      consectetur saepe maxime est beatae quod. Quibusdam officia itaque ipsam maiores!
    </ion-card-content>

    <ion-button shape="round" fill="clear" routerLink="/whatweplay/achievements" md="ellipsis-vertical">Achievement</ion-button>
    <ion-button shape="round" fill="clear" routerLink="/whatweplay/teams">Teams</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="\assets\images\dota.jpg"></ion-img>
      <ion-card-title>Dota</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Reprehenderit, rerum voluptate dolorem, repellendus maiores soluta cupiditate dolores veritatis architecto,
      consectetur saepe maxime est beatae quod. Quibusdam officia itaque ipsam maiores!
    </ion-card-content>

    <ion-button shape="round" fill="clear" routerLink="/whatweplay/achievements" md="ellipsis-vertical">Achievement</ion-button>
    <ion-button shape="round" fill="clear" routerLink="/whatweplay/teams">Teams</ion-button>
  </ion-card>

</ion-content>