<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>What We Play?</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let game of games; let i = index">
      <ion-card-header>
        <img alt="Silhouette of mountains" src="{{game.url}}" />
        <ion-card-title>{{game.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{game.desc}}</ion-card-content>
      <ion-button shape="round" fill="clear" routerLink="/whatweplay/achievements"
        md="ellipsis-vertical">Achievement</ion-button>
      <ion-button shape="round" fill="clear" routerLink="/whatweplay/teams">Teams</ion-button>
    </ion-card>
  </div>
</ion-content>