@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Our Schedule</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let schedule of schedules" routerLink="/scheduledetail/{{schedule.idevent}}">
      <ion-card-header>
        <img alt="Silhouette of mountains" src="{{schedule.url}}"/>
        <ion-card-title>
          <ion-label>{{schedule.name}}</ion-label>
        </ion-card-title>
        <ion-card-subtitle>{{schedule.date}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>