@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Our Schedule</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let schedule of schedules; let i = index">
      <ion-card-header>
        <img alt="Silhouette of mountains" src="{{schedule.url}}" />
        <ion-card-title>{{schedule.name}}</ion-card-title>
        <ion-card-subtitle>{{schedule.game}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{schedule.date}}</ion-label><br>
        <ion-label><b>{{schedule.team}}</b></ion-label><br><br>
        <a routerLink="/scheduledetail/{{i}}">View details</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>