<ion-app>
  <ion-router-outlet   id="main-content"></ion-router-outlet>
  <ion-menu  content-id="main-content" auto-hide="true">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="dark">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/whatweplay" lines="none">
            <ion-icon name="game-controller" slot="start"></ion-icon>
            <ion-label>What we play?</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/whoweare" lines="none">
            <ion-icon name="people-circle-outline" slot="start"></ion-icon>
            <ion-label>Who we are?</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/ourschedule" lines="none">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>Our Schedule</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logout()" lines="none">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle> 
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-tabs *ngIf="fullname" >
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="whatweplay">
        <ion-icon name="game-controller"></ion-icon>
        <ion-label>What We Play</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="whoweare">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Who We Are</ion-label>
      </ion-tab-button>
        
      <ion-tab-button tab="ourschedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Our Schedule</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>



