<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ourschedule"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule Detail</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="{{schedules.url}}"/>
      <ion-card-header>
        <ion-card-title>
          <ion-label>{{schedules.name}}</ion-label>
        </ion-card-title>
        <ion-card-subtitle>{{schedules.date}}</ion-card-subtitle>
        <ion-card-subtitle>
          <div class="ion-padding">
            <ion-label>Teams:</ion-label>
            <ol>
              <li *ngFor="let team of schedules.teams">
                {{team.team_name}}
              </li>
            </ol>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{schedules.description}}</ion-card-content>
      <ion-item>
        <ion-button size="small" slot="end" id="btnNotify" shape="round" expand="round" fill="clear">
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-text class="ion-margin-start">Notify Me</ion-text>
          <ion-alert trigger="btnNotify" message="Notification created" [buttons]="alertButtons"></ion-alert>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>