<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/whatweplay"></ion-back-button>
    </ion-buttons>
    <ion-title>Teams</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Tampilkan gambar game -->
  <div id="container">
    <ion-img *ngIf="game?.gameurl" [src]="game.gameurl"></ion-img>
  </div>
  <!-- Daftar tim -->
  <ion-list>
    <ion-item *ngFor="let team of teams" [routerLink]="['/teamdetail', team.idteam]">
      <ion-label>
        {{team.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>