<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="frame">
      <ion-avatar id="myAvatar">
       <ion-img src="{{profile.url}}" alt="Profile Image"></ion-img>
      </ion-avatar>
    </div>
    <ion-card class="agaknaik">
      <ion-card-content  class="tengah_atasberjarak">
          {{profile.username}}<br>
          {{profile.fname}} {{profile.lname}}<br>
      </ion-card-content>   
    </ion-card>
  </div>
</ion-content>
