<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollX="true" style="height: 700px;">

  <div id="container"  >
    <ion-card-header class=" card-background4">
    </ion-card-header>
  
    <h1>FEATURES</h1>

    <ion-card routerLink="/whatweplay" class="card-background1">
    </ion-card>

    <ion-card routerLink="/whoweare" class="card-background2">
    </ion-card>

    <ion-card routerLink="/ourschedule" class="card-background3">
    </ion-card>
  </div>
</ion-content>
