<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-icon name="person-circle" size="large" class="ion-margin" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollX="true" style="height: 500px;">
  <div id="container" style="white-space: nowrap;" >
    <ion-card routerLink="/whatweplay">
      <div>
        <ion-button fill="clear" >
          <ion-icon name="game-controller-outline" size="large"></ion-icon>
        </ion-button> <br>What We Play
      </div>
    </ion-card>

    <ion-card routerLink="/whoweare">
      <div>
        <ion-button fill="clear" >
          <ion-icon name="people-outline" size="large"></ion-icon>
        </ion-button> <br>Who We Are
      </div>
    </ion-card>

    <ion-card routerLink="/ourschedule">
      <div>
        <ion-button fill="clear" >
          <ion-icon name="calendar-outline" size="large"></ion-icon>
        </ion-button> <br>Our Schedule
      </div>
    </ion-card>
  </div>
</ion-content>
